<form autocomplete="off" #createSendProcessForm="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>Novo Envio</h1>
  <mat-dialog-content style="width:900px;height:85%;">
    <mat-tab-group>
      <mat-tab label="Cadastro">
        <br />
        <div class="row-fluid">
          <div class="col-md-4">
            <mat-form-field>
              <input matInput name="Name" placeholder="Nome" [(ngModel)]="sendProcess.name" required minlength="2"
                maxlength="32" />
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-select name="Message" placeholder="Mensagem" [(ngModel)]="sendProcess.messageId" required>
                <mat-option *ngFor="let message of messages" [value]="message.id">
                  {{message.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-label>Data de Agendamento</mat-label>
              <input id="scheduleDate" matInput [ngxMatDatetimePicker]="scheduleDate" (dateInput)="onChangeDate($event)" [min]="inputStartDate"
                [disabled]="disabled">
              <mat-datepicker-toggle matSuffix [for]="scheduleDate"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #scheduleDate showSpinners="true"></ngx-mat-datetime-picker>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-select name="Separator" placeholder="Delimitador" [(ngModel)]="sendProcess.separator" required>
                <mat-option value=";">; (Ponto e Vírgula)</mat-option>
                <mat-option value="|">| (Pipe)</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <h4>Upload de Contatos</h4>
            <div class="col-md-12">
              <input type="file" (change)="handleFileInput($event.target.files)">
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button mat-flat-button type="submit" flex="15" color="primary"
      [disabled]="!createSendProcessForm.form.valid || saving">
      {{ "Save" | localize }}
    </button>
  </div>
</form>